<div class="needs">
  <div class="needs__text">
    <div class="needs__text-content" i18n="needs|text1">Ми вдячні кожній компанії, підприємству та звичайним людям, які
      допомагають Україні
      з конкретними потребами</div>
  </div>
  <div class="needs__carousel">
    <app-carousel></app-carousel>
    <button class="carousel-btn" i18n="needs|carousel-button">Показати всі нагальні потреби</button>
  </div>
  <div class="needs__text">
    <div class="needs__text-content" i18n="needs|text2">Зробити донат через Антивоєнний рух України дуже просто –
      декілька кліків з
      будь-якої точки світу. Якщо є можливість надіслати гуманітарну допомогу – зверніться до нас за контактами, які
      вказані нижче.</div>
  </div>
</div>