<header>
  <div class="container">
    <div class="header-content">
      <a routerLink="/" class="logo">
        <img class="logo-image" src="../../../assets/img/logo.svg" alt="logo">
        <div class="logo-title" i18n="header-logo-title">Громадська організація<br>
          Антивоєнний рух України</div>
      </a>
      <div class="menu-content">
        <div class="menu-icon" [class.menu-iconClass]="menuIconVariable" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" [class.menuClass]="menuVariable">
          <ul>
            <li><a routerLink="/project" i18n="header-menu|projects">проєкти</a></li>
            <li><a (click)="open()" i18n="header-menu|donate">внесок</a></li>
            <li><a href="#" i18n="header-menu|contacts">контакти</a></li>
            <li>
              <div *ngFor="let locale of localesListUA"><a href="/{{locale.code}}/">{{locale.label}}</a>
              </div>/<div *ngFor="let locale of localesListENG"><a href="/{{locale.code}}/">{{locale.label}}</a></div>
            </li>
          </ul>
          <div class="menu-social">
            <a href="#"><fa-icon class="icon" [icon]="faFacebookF"></fa-icon></a>
            <a href="#"><fa-icon class="icon" [icon]="faTwitter"></fa-icon></a>
            <a href="#"><fa-icon class="icon" [icon]="faPaperPlane"></fa-icon></a>
            <a href="#"><fa-icon class="icon instagram" [icon]="faInstagram"></fa-icon></a>
            <a href="#"><fa-icon class="icon" [icon]="faPlay"></fa-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>