<div class="invincibility">
  <div class="container">
    <div class="card">
      <h2 class="card__title" i18n="invincibility|card-title">ПУНКТ НЕЗЛАМНОСТІ</h2>
      <p class="card__subtitle" i18n="invincibility|card-subtitle">Місце твоєї безпеки під час тривалого відключення
        електроенергії чи тепла</p>
      <img src="assets/img/invincibility1.png" alt="">
      <div class="card__content">
        <p class="card__text" i18n="invincibility|card-text1">План росії – будь-що залишити жителів України без
          електроенергії, світла та тепла. У разі
          тривалого аварійного відключення електроенергії, Пункти Незламності стануть острівцем безпеки, стабільності,
          тепла та нашої єдності, які функціонуватимуть цілодобово і безкоштовно для тимчасового перебування.</p>
        <p class="card__text" i18n="invincibility|card-text2">Рекомендуємо вже зараз записати адреси найближчих Пунктів
          Незламності на випадок
          аварійного
          відключення зв’язку
          чи електроенергії.</p>
      </div>
      <div class="card__button">
        <button class="btn" i18n="invincibility|card-button|online-map">Дивитися мапу</button>
      </div>
    </div>
    <div class="card">
      <div class="form">
        <input type="email" placeholder="E-mail">
        <div class="form__button">
          <button class="form-btn" i18n="invincibility|form-button|subscribe">Підписатись на новини</button>
        </div>
      </div>
      <div class="social">
        <div class="social-link"><a href="#"><fa-icon class="icon" [icon]="faFacebookF"></fa-icon></a></div>
        <div class="social-link"><a href="#"><fa-icon class="icon" [icon]="faPaperPlane"></fa-icon></a></div>
        <div class="social-link"><a href="#"><fa-icon class="icon instagram" [icon]="faInstagram"></fa-icon></a></div>
      </div>
    </div>
  </div>
</div>