<div class="last-news">
  <div class="container">
    <div class="news__title" i18n="news|title">ОСТАННІ НОВИНИ</div>
    <div class="news__content">
      <div class="news__item" style="order: 0;">
        <div class="news__content-data">25.11.2015</div>
        <div class="news__content-text" i18n="news|content-text1">Заснування громадської організації “Антивоєнний рух
          України”</div>
        <a class="news__content-link"><fa-icon class="icon" [icon]="faArrowRight"></fa-icon></a><a class="link-text"
          i18n="news|link|see">Переглянути</a>
      </div>
      <div class="news__item" style="order: 2;">
        <div class="news__content-data">24.11.2022</div>
        <div class="news__content-text" i18n="news|content-text2">Час початку роботи громадської організації</div>
        <a class="news__content-link"><fa-icon class="icon" [icon]="faArrowRight"></fa-icon></a><a class="link-text"
          i18n="news|link|see">Переглянути</a>
      </div>
      <div class="news__item" style="order: 1;">
        <div class="news__content-data">24.11.2022</div>
        <div class="news__content-text" i18n="news|content-text3">Співпраця з ПриватБанк і Монобанк</div>
        <a class="news__content-link"><fa-icon class="icon" [icon]="faArrowRight"></fa-icon></a>
        <a class="link-text" i18n="news|link|see">Переглянути</a>
      </div>
    </div>
    <a class="see-all" i18n="news|link|see-all">Перейти до всіх новин</a>
  </div>
</div>