<div class="our-goal">
  <div class="bg-image">
    <div class="container">
      <div class="our-goal__content">
        <div class="our-goal__text" i18n="our-goal|text">
          МИ – прагнемо миру. Єдиний шлях – це наша перемога та звільнення всіх територій нашої країни. Наш обов’язок –
          всебічна допомога армії та потерпілим від війни. Долучайтесь до підтримки наших проєктів.</div>

        <div class="our-goal__button">
          <button (click)="open()" class="btn" i18n="our-goal|btn|donate">Зробити внесок</button>
        </div>
        <div class="our-goal__anotation" i18n="our-goal|anotation">Переможемо їх РАЗОМ!</div>
      </div>
    </div>
  </div>
</div>