<div class="power">

  <div class="container">
    <div class="help">
      <div class="image-block">
        <img src="../../../assets/img/Group 15.png" alt="">
        <div class="image-block__title">UKRAINE</div>
      </div>
      <div class="help__content">
        <div class="help-text" i18n="power|help-text">Армія, медицина, постраждалі від війни діти, переселенці – їм всім
          потрібна наша допомога
          та підтримка.</div>
        <div class="help__content-button">
          <button (click)="open()" class="btn" i18n="power|btn|donate">Зробити внесок</button>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="container">
      <p i18n="power|about|text1">ГО «Антивоєнний Рух України» протягом всього свого існування поширювала інформацію
        серед молоді про Світові
        Війни, їх значення, наслідки для світу й України та недопущення повторення. На жаль, війна знову прийшла на нашу
        землю. Ми мусимо показати ворогу єдність та мужність українського народу.</p>
      <p i18n="power|about|text2">Злочини проти людяності, які російська армія вчиняє до нашого народу показує усьому
        світу, справжнє обличчя
        держави-терориста та важливість допомоги Україні.
        <br>Разом ми закінчимо війну в Європі.
      </p>
    </div>
  </div>

</div>