<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
    </div>
    <div class="carousel-item">
    </div>
    <div class="carousel-item">
    </div>
  </div>
  <img class="carousel-control-prev" type="button" src="assets/img/arrow-left.svg" alt="Previous">
  <img class="carousel-control-next" type="button" src="assets/img/arrow-right.svg" alt="Next">
</div>
<div class="dialog__content">
  <div class="dialog-title" i18n="project|dialog-title|thermal-imager">Тепловізор</div>
  <div class="dialog-text" i18n="project|dialog-text|thermal-imager">Наші воїни несуть нам світло серед темряви, даруючи
    впевненість у тому, що все буде «Україна». Але для цього нашим хлопцям потрібен прилад нічного бачення. Саме тому,
    любі друзі, ми відкриваємо збір коштів на суму 94000 грн. Наші янголи - охоронці зараз в районі Бахмут і їм
    дуже-дуже потрібна наша з Вами допомога. Кожна гривня від Вас наближає нас до перемоги!</div>
  <div class="progress">
    <div class="progres-content"></div>
  </div>
  <div class="dialog-collected" i18n="project|dialog-collected|thermal-imager">Зібрано : 0 грн </div>
  <div class="dialog-collection" i18n="project|dialog-collection|thermal-imager">Збір: 94 000 грн</div>
</div>
<button (click)="open()" class="btn" i18n="project|button|donate">Зробити внесок</button>