<div class="project">
  <div class="project__list">
    <div class="project__item">
      <div (click)="openCar()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title|car">Автомобіль для ЗСУ</h3>
        <p class="slide-text" i18n="project|slide-text|car">Збір: 100 000 грн </p>
      </div>
    </div>
    <div class="project__item">
      <div (click)="openThermalImager()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title|thermal-imager">Тепловізор</h3>
        <p class="slide-text" i18n="project|slide-text|thermal-imager">Збір: 94 000 грн </p>
      </div>
    </div>
    <div class="project__item">
      <div (click)="openHumanitarianAid()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title|humanitarian-aid">Гуманітарна допомога</h3>
        <p class="slide-text" i18n="project|slide-text|humanitarian-aid">Збір: 40 000 грн </p>
      </div>
    </div>
    <div class="project__item">
      <div (click)="openDrone()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title|drone">Дрон</h3>
        <p class="slide-text" i18n="project|slide-text|drone">Збір: 106 000 грн </p>
      </div>
    </div>
  </div>
</div>
<div class="project__text info">***Кошти, перераховані Вами як благодійна допомога, не повертаються у випадку не
  реалізації її проекту/-ів . Вони будуть перераховані на інший подібний благодійний проект, а у випадку закриття чи
  ліквідації організації кошти будуть перенаправленні до іншої (або кількох ) благодійних організацій відповідного виду
  (згідно до діючого законодавства України щодо неприбуткових організацій та установ).</div>
<div class="project__text">
  <p i18n="project|text">Ми вдячні кожній компанії, підприємству та звичайним людям, які допомагають Україні з
    конкретними потребами</p>
</div>
<app-footer></app-footer>