<div class="project">
  <div class="project__list">
    <div class="project__item">
      <div (click)="open()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title">Лікарня в Бахмуті</h3>
        <p class="slide-text" i18n="project|slide-text">Збір: 1 000 000 грн </p>
      </div>
    </div>
    <div class="project__item">
      <div (click)="open()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title">Лікарня в Бахмуті</h3>
        <p class="slide-text" i18n="project|slide-text">Збір: 1 000 000 грн </p>
      </div>
    </div>
    <div class="project__item">
      <div (click)="open()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title">Лікарня в Бахмуті</h3>
        <p class="slide-text" i18n="project|slide-text">Збір: 1 000 000 грн </p>
      </div>
    </div>
    <div class="project__item">
      <div (click)="open()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title">Лікарня в Бахмуті</h3>
        <p class="slide-text" i18n="project|slide-text">Збір: 1 000 000 грн </p>
      </div>
    </div>
    <div class="project__item">
      <div (click)="open()" type="button" class="project__item-content">
        <img src="assets/img/Borodyanka_center.jpeg.png" alt="">
        <h3 class="slide-title" i18n="project|slide-title">Лікарня в Бахмуті</h3>
        <p class="slide-text" i18n="project|slide-text">Збір: 1 000 000 грн </p>
      </div>
    </div>
  </div>
</div>
<div class="project__text">
  <p i18n="project|text">Ми вдячні кожній компанії, підприємству та звичайним людям, які допомагають Україні з
    конкретними потребами</p>
</div>
<app-footer></app-footer>