.footer {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-title {
  text-transform: none;
  position: relative;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  z-index: 10;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  margin-left: -32px;
  margin-bottom: 49px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 57px 200px 100px;
}
.form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  background: #000000;
  margin-bottom: 40px;
}
.form-btn {
  background: #fce000;
  border-radius: 10px;
  padding: 10px 39px;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  border: none;
}
.menu-social a:hover,
.instagram:hover {
  color: #ffd700;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.menu-social {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  color: #ffffff;
  font-size: 21px;
}
.menu-social a:not(:nth-child(4)) {
  width: 45px;
  height: 45px;
  border: 3px solid #ffffff;
  border-radius: 15px;
  color: #ffffff;
}
.menu-social a:not(:nth-child(4)):hover {
  border: 3px solid #ffd700;
  color: #ffd700;
}
.icon {
  display: flex;
  justify-content: center;
  padding-top: 9px;
}
.instagram {
  font-size: 45px;
  padding-top: 0;
  color: #ffffff;
}
.footer-contact {
  color: #ffffff;
}
.footer-contact__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 62px;
}
.footer-contact__text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 10px;
}
.copyright {
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 31px;
}
@media (max-width: 1130.8px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .menu-social {
    margin-bottom: 40px;
  }
}
@media (max-width: 999.8px) {
  .footer__content {
    margin: 40px 100px;
  }
  .footer-image {
    max-width: 150px;
  }
  .footer-title {
    margin-left: 0;
    margin-bottom: 25px;
    font-size: 25px;
  }
}
@media (max-width: 599.8px) {
  .footer-logo {
    justify-content: center;
  }
  .footer-image {
    max-width: 100px;
  }
  .footer-title {
    font-size: 10px;
    line-height: 12px;
  }
  .footer__content {
    margin: 59px 20px 40px;
  }
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form input {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
    background: #efefef;
    border-radius: 10px;
    width: 280px;
    height: 50px;
  }
  .form-btn {
    font-size: 20px;
    padding: 10px 46px;
  }
  .menu-social {
    margin-top: 40px;
  }
  .menu-social a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .instagram {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-contact__title,
  .footer-contact__text p {
    margin-bottom: 20px;
  }
  .copyright {
    padding-bottom: 40px;
  }
}
