<div class="footer">
  <div class="footer-logo"><img src="../../../assets/img/logo.png" alt=""></div>
  <div class="footer__content">
    <div class="footer-social">
      <div class="form">
        <input type="email" placeholder="E-mail">
        <div class="form__button">
          <button class="form-btn">Підписатись на новини</button>
        </div>
      </div>
      <div class="menu-social">
        <a href="#"><fa-icon class="icon" [icon]="faFacebookF"></fa-icon></a>
        <a href="#"><fa-icon class="icon" [icon]="faTwitter"></fa-icon></a>
        <a href="#"><fa-icon class="icon" [icon]="faPaperPlane"></fa-icon></a>
        <a href="#"><fa-icon class="icon instagram" [icon]="faInstagram"></fa-icon></a>
        <a href="#"><fa-icon class="icon" [icon]="faPlay"></fa-icon></a>
      </div>
    </div>
    <div class="footer-contact">
      <div class="footer-contact__title">Зв’язатися з нами</div>
      <div class="footer-contact__text">
        <p>м.Київ, пр-т Науки, 60</p>
        <p>+380639737799</p>
        <p>antiwarmov@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="copyright">2022© | Privacy Note</div>
</div>