<div class="footer">
  <div class="footer-logo">
    <img class="footer-image" src="../../../assets/img/logo.svg" alt="logo">
    <div class="footer-title" i18n="footer|logo-title">Громадська організація<br>
      Антивоєнний рух України</div>
  </div>
  <div class="footer__content">
    <div class="footer-social">
      <div class="form">
        <input type="email" placeholder="E-mail">
        <div class="form__button">
          <button class="form-btn" i18n="footer|button|subscribe">Підписатись на новини</button>
        </div>
      </div>
      <div class="menu-social">
        <a href="#"><fa-icon class="icon" [icon]="faFacebookF"></fa-icon></a>
        <a href="#"><fa-icon class="icon" [icon]="faTwitter"></fa-icon></a>
        <a href="#"><fa-icon class="icon" [icon]="faPaperPlane"></fa-icon></a>
        <a href="#"><fa-icon class="icon instagram" [icon]="faInstagram"></fa-icon></a>
        <a href="#"><fa-icon class="icon" [icon]="faPlay"></fa-icon></a>
      </div>
    </div>
    <div class="footer-contact">
      <div class="footer-contact__title" i18n="footer|contact-title">Зв’язатися з нами</div>
      <div class="footer-contact__text">
        <p i18n="footer|contact-text1">м.Київ, пр-т Науки, 60</p>
        <p i18n="footer|contact-text2">+380639737799</p>
        <p i18n="footer|contact-text3">antiwarmov@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="copyright">2022© | Privacy Note</div>
</div>